---
import WorkIcon from '@/icons/work.svg'
import siteConfig from '@/lib/site-config'
import Card from '@/components/Card.astro'
---

<section class="border-b">
  <div class="relative container">
    <!-- Dots bg -->
    <div class="absolute inset-0 z-[-1] opacity-15">
      <div
        class="absolute h-full w-full bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_80%,transparent_100%)]"
      >
      </div>
    </div>
    <!-- Dots bg -->
    <div class="space-y-3 border-x px-6 py-10 lg:px-12">
      <div class="flex items-center gap-2">
        <WorkIcon class="text-accent size-6 shrink-0" />
        <h3 class="font-mono text-lg font-bold">WORK</h3>
      </div>
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
        {
          siteConfig.projects.map((project) => (
            <Card
              id={project.id}
              title={project.name}
              body={project.description}
              href={project?.link}
              isPrivate={project?.isPrivate}
              hot={project?.hot}
            />
          ))
        }
      </div>
    </div>
  </div>
</section>
