---
import Layout from '@/layouts/Layout.astro'

import SocialButton from '@/components/SocialButton.astro'
import Chip from '@/components/Chip.astro'
import ContactButton from '@/components/ContactButton.astro'
import Toaster from '@/components/Toaster.astro'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

import config from '@/lib/site-config'
import LabCard from '@/components/LabCard.astro'
import Card from '@/components/Card.astro'
import HorizontalScrollButtons from '@/components/HorizontalScrollButtons.astro'
import worldMapDark from '@/assets/world-map-dark.png'
import worldMapLight from '@/assets/world-map-light.png'
---

<Layout>
  <main>
    <div class="border-b">
      <div class="container grid h-8 grid-cols-3">
        <div class="border-x"></div>
        <div class="border-r"></div>
        <div class="border-r"></div>
      </div>
    </div>
    <header class="border-b">
      <div class="container grid grid-cols-3">
        <div
          class="col-span-3 border-x border-b px-6 py-10 lg:col-span-2 lg:border-b-0 lg:px-12"
        >
          <div class="mb-7 flex items-start justify-between">
            <h3 class="text-xl font-normal text-muted-foreground">
              Antonio Jesús Rodríguez
            </h3>
          </div>
          <div class="mb-10 space-y-3 font-mono">
            <h1 class="text-5xl font-bold">
              Fullstack <br />
              <span class="text-accent">JavaScript</span> Developer
            </h1>
            <h2 class="text-3xl text-muted-foreground">
              +6 years <del>of experience</del> "Moviendo las manitas"
            </h2>
          </div>
          <div class="flex gap-4">
            <SocialButton
              href={config.links.linkedin}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Icon name="linkedin" class="size-6" />
            </SocialButton>
            <SocialButton
              href={config.links.github}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Icon name="github" class="size-6" />
            </SocialButton>
          </div>
        </div>
        <div
          class="col-span-3 space-y-3 border-x px-6 py-10 lg:col-span-1 lg:border-l-0 lg:border-r lg:px-12"
        >
          <div class="flex items-center gap-2">
            <Icon name="using" class="size-6 shrink-0 text-accent" />
            <h3 class="font-mono text-lg font-bold">STACK</h3>
          </div>
          <div class="-ml-2 flex flex-wrap gap-2">
            {
              config.technologies.map(({ name, id }) => (
                <Chip className={id}>{name}</Chip>
              ))
            }
          </div>
        </div>
      </div>
    </header>
    <section class="border-b">
      <div class="container grid grid-cols-3">
        <div
          class="group/quote col-span-3 grid place-items-center border-x border-b px-6 py-10 lg:col-span-1 lg:border-b-0 lg:px-12"
        >
          <div class="relative px-7 text-2xl font-medium">
            <Icon
              name="quote"
              class="absolute left-0 top-0 size-12 -translate-x-6 -translate-y-4 -rotate-6 scale-x-[-1] text-muted-foreground transition-[color,transform] duration-200 group-hover/quote:rotate-6 group-hover/quote:text-accent"
            />
            <p
              class="text-muted-foreground transition-colors group-hover/quote:text-foreground"
            >
              I enjoy building things that make a difference, transforming my
              ideas into tangible projects and helping others do the same.
            </p>
            <Icon
              name="quote"
              class="absolute bottom-0 right-0 size-12 translate-x-6 translate-y-4 -rotate-6 text-muted-foreground transition-[color,transform] duration-200 group-hover/quote:rotate-6 group-hover/quote:text-accent"
            />
          </div>
        </div>
        <div
          class="relative col-span-3 overflow-hidden border-x pt-10 lg:col-span-2 lg:border-l-0 lg:border-r"
        >
          <!-- Dots bg -->
          <div class="absolute inset-0 z-[-1] opacity-15">
            <div
              class="absolute h-full w-full bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_80%,transparent_100%)]"
            >
            </div>
          </div>
          <!-- Dots bg -->
          <div class="flex items-start justify-between">
            <div class="flex items-center gap-2 px-6 lg:px-12">
              <Icon name="lab" class="size-6 shrink-0 text-accent" />
              <h3 class="font-mono text-lg font-bold">LAB</h3>
            </div>
            <div class="hidden px-6 md:block lg:px-12">
              <HorizontalScrollButtons />
            </div>
          </div>
          <div
            class="lab-container grid w-full auto-cols-min grid-flow-col grid-rows-2 gap-4 overflow-auto px-6 pb-10 pt-5 lg:px-12"
          >
            {
              config.labProjects.map((project) => (
                <LabCard
                  id={project.id}
                  title={project.name}
                  subtitle={project.subtitle || ''}
                  body={project.description}
                  href={project.link}
                />
              ))
            }
          </div>
        </div>
      </div>
    </section>
    <section class="border-b">
      <div class="container relative">
        <!-- Dots bg -->
        <div class="absolute inset-0 z-[-1] opacity-15">
          <div
            class="absolute h-full w-full bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_80%,transparent_100%)]"
          >
          </div>
        </div>
        <!-- Dots bg -->
        <div class="space-y-3 border-x px-6 py-10 lg:px-12">
          <div class="flex items-center gap-2">
            <Icon name="work" class="size-6 shrink-0 text-accent" />
            <h3 class="font-mono text-lg font-bold">WORK</h3>
          </div>
          <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
            {
              config.projects.map((project) => (
                <Card
                  id={project.id}
                  title={project.name}
                  body={project.description}
                  href={project.link}
                  isPrivate={project.isPrivate}
                />
              ))
            }
          </div>
        </div>
      </div>
    </section>
    <section class="border-b">
      <div class="container">
        <div class="space-y-3 border-x px-6 py-10 lg:px-12">
          <div class="flex items-center gap-2">
            <Icon name="pin" class="size-6 shrink-0 text-accent" />
            <h3 class="font-mono text-lg font-bold">LIVING IN</h3>
          </div>
          <div class="relative mx-auto grid w-fit place-items-center">
            <!-- Location Pin -->
            <div class="absolute left-[75%] top-[63%] flex items-center gap-2">
              <span class="relative flex size-4 items-center justify-center">
                <span
                  class="absolute inline-flex h-full w-full animate-[ping_2s_cubic-bezier(0,0,0.2,1)_infinite] rounded-full bg-accent opacity-75"
                ></span>
                <span class="relative inline-flex size-3 rounded-full bg-accent"
                ></span>
              </span>
              <div
                class="rounded-full border bg-foreground px-2 py-0.5 text-sm text-background"
              >
                Thailand
              </div>
            </div>
            <!-- Location Pin -->

            <div>
              <Image
                src={worldMapDark}
                alt="World map"
                class="hidden dark:block"
              />
              <Image src={worldMapLight} alt="World map" class="dark:hidden" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="border-b">
      <div class="container">
        <div class="space-y-6 border-x px-6 py-10 lg:px-12">
          <div class="flex items-center gap-2">
            <Icon name="personal" class="size-6 shrink-0 text-accent" />
            <h3 class="font-mono text-lg font-bold">PERSONAL ZONE</h3>
          </div>
          <p class="max-w-lg">
            Well, if you've scrolled this far down, I guess I've caught your
            attention, and now I can bore you with some history about myself.
          </p>

          <div class="relative grid grid-cols-1 md:grid-cols-2">
            <!-- Civil Engineer Background -->
            <div></div>
            <div
              class="relative space-y-4 pb-8 md:space-y-0 md:border-l md:border-border md:pl-4"
            >
              <div
                class="-top-2 left-2 flex flex-row-reverse items-center justify-end gap-3 md:absolute md:-translate-x-full md:flex-row md:justify-start"
              >
                <span class="text-sm text-accent"> 2010 </span>
                <div class="relative rounded-full border bg-background p-1">
                  <div class="size-2 rounded-full bg-accent"></div>
                </div>
              </div>

              <div
                class="group rounded-lg border bg-card p-6 text-muted-foreground transition-colors hover:bg-foreground/5"
              >
                <h4 class="mb-2 font-mono text-lg font-bold text-foreground">
                  The Engineer's Path
                </h4>
                <div class="space-y-3">
                  <p class="text-muted-foreground">
                    I am a Civil Engineer from Spain 👷🏼‍♂️🇪🇸 turned into a
                    Fullstack Developer due to life's whims. Since the
                    beginning, I have had it in my blood to build stuff and
                    solve problems, one way or another.
                  </p>
                  <p>
                    I started my career in the "construction" sector but soon
                    discovered that it wasn't what I was expecting.
                  </p>
                </div>
              </div>
            </div>

            <!-- First Developer Experience -->
            <div
              class="relative space-y-4 pb-8 md:space-y-0 md:border-r md:border-border md:pr-4"
            >
              <div
                class="-top-2 right-2 flex items-center gap-3 md:absolute md:translate-x-full"
              >
                <div class="relative rounded-full border bg-background p-1">
                  <div class="size-2 rounded-full bg-accent"></div>
                </div>
                <span class="text-sm text-accent"> 2017 </span>
              </div>
              <div
                class="group rounded-lg border bg-card p-6 text-muted-foreground transition-colors hover:bg-foreground/5"
              >
                <h4 class="mb-2 font-mono text-lg font-bold text-foreground">
                  The First App
                </h4>
                <div class="space-y-3">
                  <p>
                    It wasn't until my second job at a town hall that I realized
                    I wasn't building anything, which is what I really wanted to
                    do. So, I thought that if they weren't going to let me build
                    roads, buildings, or anything close, I would figure out 🧠 a
                    way to build something myself.
                  </p>
                  <p>
                    That's when I developed my first mobile app using a web
                    builder that uses blocks (<span class="italic"
                      >I think it was designed for kids</span
                    >). Nevertheless, I managed to build a super basic app for
                    the town hall to control some simple internal maintenance
                    tasks.
                  </p>
                  <p>
                    I don't know if they used it at all; if I'm honest, I don't
                    think so, but it was enough for me to discover another way
                    to build stuff and fill that void. 🐛
                  </p>
                </div>
              </div>
            </div>
            <div></div>

            <!-- The Transition -->
            <div></div>
            <div
              class="relative space-y-4 pb-8 md:space-y-0 md:border-l md:border-border md:pl-4"
            >
              <div
                class="-top-2 left-2 flex flex-row-reverse items-center justify-end gap-3 md:absolute md:-translate-x-full md:flex-row md:justify-start"
              >
                <span class="text-sm text-accent"> 2018 </span>
                <div class="relative rounded-full border bg-background p-1">
                  <div class="size-2 rounded-full bg-accent"></div>
                </div>
              </div>
              <div
                class="group rounded-lg border bg-card p-6 text-muted-foreground transition-colors hover:bg-foreground/5"
              >
                <h4 class="mb-2 font-mono text-lg font-bold text-foreground">
                  The Developer Hatching
                </h4>
                <div class="space-y-3">
                  <p>
                    After working in the "construction" field for a while, I
                    don't know if luck wasn't on my side, but all the work I had
                    to do was paperwork—boring and demotivating paperwork.
                  </p>
                  <p>
                    It was time to take <span class="font-bold"
                      >another road</span
                    > in my life. I embarked on an adventure to improve my English
                    and rethink my situation, which led me to travel to the other
                    side of the world, New Zealand 🛫 🌏.
                  </p>
                  <p>
                    While there, I remembered the joy of building that first
                    app, if you can call it that. It was after that, with my
                    English now improved, that long story short, through
                    self-learning, countless tutorials, deep dives into
                    documentation, and persistent practice <span
                      class="text-accent"
                      >I was reborn as a fullstack developer</span
                    >.
                  </p>
                </div>
              </div>
            </div>

            <!-- Current Status -->
            <div class="relative space-y-4 pb-8 md:space-y-0 md:pr-4">
              <div
                class="-top-2 right-2 flex items-center gap-3 md:absolute md:translate-x-full"
              >
                <div class="relative rounded-full border bg-background p-1">
                  <div class="size-2 rounded-full bg-accent"></div>
                </div>
                <span class="text-sm text-accent">
                  {new Date().getFullYear()}
                </span>
              </div>
              <div
                class="group rounded-lg border bg-card p-6 transition-colors hover:bg-foreground/5"
              >
                <h4 class="mb-2 font-mono text-lg font-bold">Today & Beyond</h4>
                <p class="text-muted-foreground">
                  Now I have worked on some personal projects 🏗️, I've made
                  collaborations, created customer websites, built a CRM
                  dashboard for a company, and I am still looking for new
                  challenges, new projects, and new things to build.
                </p>
                <div
                  class="mt-4 rounded-md border border-foreground/10 bg-foreground/10 p-3"
                >
                  <div class="flex items-center gap-2">
                    <Icon name="fun" class="size-5" />
                    <span class="font-mono text-sm font-bold">FUN FACT</span>
                  </div>
                  <p class="mt-1 text-sm text-foreground/70">
                    Just before I started my degree I only used a computer to
                    use Microsoft Messenger and send buzzes to my friends. Those
                    early 2000s...
                  </p>
                </div>
              </div>
            </div>
            <div></div>
          </div>
        </div>
      </div>
    </section>
    <div class="h-14">
      <div class="container">
        <div
          class="border-x px-6 py-10 text-center text-sm text-muted-foreground lg:px-12"
        >
          Get in contact – hello@anjero.dev
        </div>
      </div>
    </div>
    <ContactButton />
    <Toaster />
  </main>
</Layout>
