---
import { Icon } from 'astro-icon/components'
interface Props {
  id: string
  title: string
  subtitle: string
  body: string
  href?: string
}

const { id, href, title, subtitle, body } = Astro.props
---

<a
  href={href}
  target="_blank"
  class:list={[
    'group/card bg-card from-muted/30 via-card to-muted/30 w-[380px] overflow-hidden rounded-lg border bg-linear-to-br',
    href && 'cursor-pointer',
  ]}
>
  <div
    class="bg-card flex h-full justify-between transition-colors group-hover/card:bg-transparent"
  >
    <div class="flex-[0.6] shrink-0 p-4 pr-2">
      <header class="mb-2">
        <h2 class="text-xl font-bold">
          {title}
        </h2>
        <h3 class="text-sm">{subtitle}</h3>
      </header>
      <p class="text-muted-foreground">
        {body}
      </p>
    </div>
    <div
      class="group-hover/card:[&_svg_.highlight]:fill-foreground mt-12 flex-[0.4] origin-top-left translate-x-2 translate-y-1 scale-110 rotate-6 self-end opacity-60 transition-all duration-200 group-hover/card:translate-x-0 group-hover/card:translate-y-0 group-hover/card:rotate-0 group-hover/card:opacity-100 [&_svg_.highlight]:transition-colors [&_svg_.highlight]:duration-200"
    >
      <Icon name={`lab/${id}`} height={120} width={160} />
    </div>
  </div>
</a>
